.app-wrapper{
  margin: 0 auto;
  display: grid;
  width: 1200px;

  grid-template-areas: 
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.header{
  grid-area: header;
  background-color:rgb(137, 201, 198);
}

.header img{
  margin: 2px;
  width:  55px;
  height: 55px;
}
.nav{
  grid-area: nav;
  background-color:rgb(139, 218, 255);
}

.nav img{
  width: 11px;
}

.content{
  grid-area: content;
  background-color:grey;
}